table {
  float: right;
  font-size: 14px;
  border: 2px solid black;
  margin-right: 6ch;
  margin-top: 30px;
  margin-left: 3ch;
}

nav {
  background-color: rgb(239, 248, 246);
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  height: 270px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.h1 {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.h3 {
  padding-left: 3ch;
  margin-top: 20px;
  padding-bottom: 15px;
}

#indent {
  text-indent: 3em;
  padding-left: 3ch;
  padding-right: 3ch;
  padding-bottom: 20px;
  text-align: inherit;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.list{
  padding-left: 3ch;
  padding-right: 3ch;
  padding-bottom: 20px;
  text-align: inherit;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.back {
  background-color: beige;
}

footer {
  margin-top: 30px;
  background-color: rgb(239, 248, 246);
}

.card {
  float: right;
  margin: 3ch 6ch 3ch 3ch;
}